<h3>Providers</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Provider Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let provider of serviceProviders">
        <td>{{provider.id}}</td>
        <td>{{provider.firstName}}</td>
        <td>{{provider.lastName}}</td>
        <td>{{provider.email}}</td>
      </tr>
    </tbody>
  </table>
</div>


