<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    <ion-title> User profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar>

<ion-content>
    <div class="ion-padding">
        Hi my name is {{firstName}} {{lastName}} <br>
        Info: {{email}}
        <ion-button expand="full" (click)="navToInbox()"> Inbox</ion-button>
        <ion-button expand="full" (click)="navToExplore()"> Explore</ion-button>
        <!-- <ion-button expand="full" (click)="navToTrips()"> Trips</ion-button> -->
      </div>
</ion-content>
